body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #ededed;
  color: rgb(79, 40, 40);
}

/*MAIN*/

.title-container {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  max-width: 100vw;
  margin: 0 auto;
  padding-right: 270px;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 200px;
}

.settings .default{
  font-size: 25px;
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  color: rgb(79, 40, 40);
  border: 2px solid rgb(79, 40, 40);
  border-radius: 6px;
}

.settings .default:hover {
  transform: scale(1.15);
  transition: ease-in-out 0.1s;
}
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Add margin to separate it from other buttons */
}

.slider-container label {
  font-weight: bold;
  margin-bottom: 10px;
}
.square-div {
  width: 500px;
  height: 500px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {
  flex: 1;
  /*aspect-ratio: 1;*/
}

.active {
  color: rgb(240, 240, 240);
  background-color: rgb(79, 40, 40);
  font-size: 25px;
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 6px;
}
/*FOOTER*/

footer{
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: transparent;
  padding: 20px 0;
}
footer img{
  width: 90px;
  height: auto;
}
